html{
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 300;
}

a, a:visited, a:hover{
    text-decoration: none;
}
//flexbox
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    
    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

//Buttons
button,.button{
    padding: 1rem 1.875rem;
    background: linear-gradient(to right, black,black);
    border: 0;
    border-radius: 1.75rem;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

//visibility
.hde-for-mobile{

}

.hide-for-desktop{
    
}
